@font-face {
  font-family: "Mogella";
  src: url("../fonts/Mogella.otf") format("opentype");
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova.otf") format("opentype");
}

@font-face {
  font-family: "Explore";
  src: url("../fonts/Explore.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
}

h1,
h2,
h3,
h4 {
  font-family: "Mogella", sans-serif;
  font-weight: 400;
}
p {
  font-family: Proxima, sans-serif;
}

.getStarted-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.getStated-description {
  padding: 86.5px 154.5px;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getStated-description p {
  margin-bottom: 113px;
  letter-spacing: 0.8px;
  line-height: 30px;
  font-size: 16px;
  font-family: "Proxima";
}

.getStated-description h1 {
  font-family: Mogella;
  font-size: 31.62px;
  line-height: 50px;
  letter-spacing: 3.662px;
}

.getStated-description a {
  color: #e0e0e0;
  text-decoration: none;
  font-family: Proxima;
  font-size: 21.92px;
  padding: 13.5px 45px;
  background-color: #b08d57;
  align-self: center;
  transition: background-color 0.5s ease;
}

.getStated-description a:hover {
  background-color: #1a1f2e;
}

.property-form-container {
  background-color: #121212;
  color: #e0e0e0;
  padding: 54px 115px;
}

.property-form-container h1 {
  font-family: Mogella;
  font-size: 29.3px;
  letter-spacing: 1.465px;
  border-bottom: 1px solid #b08d57;
  width: 491px;
}

.property-form-container form {
  padding: 15px 30px;
  font-family: Proxima;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.property-form-container form label {
  font-size: 19.44px;
}

.property-form-container form span {
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgba(224, 224, 224, 0.6);
}

.form-title-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.title-location-width {
  width: 800px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  margin-bottom: 5px;
}

.property-form-container form input,
.property-form-container form textarea {
  border: 1px solid #e0e0e0;
  background-color: transparent;
  padding: 10px;
  color: #e0e0e0;
  font-size: 18.47px;
}

.property-form-container form textarea {
  resize: vertical;
  height: 285px;
  min-height: 100px;
}

.property-form-container form button {
  padding: 13.5px 45px;
  font-size: 20.92px;
  background-color: #b08d57;
  margin: 0 auto;
  width: 288px;
  margin-top: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Proxima", sans-serif;
  transition: background-color 0.5s ease;
}

.property-form-container form button:hover {
  background-color: #1a1f2e;
}

.form-image-container {
  background-color: #121212;
  color: #e0e0e0;
  padding: 54px 114px;
  height: 100vh;
}

.form-image-container h1 {
  font-family: Mogella;
  font-size: 29.3px;
  letter-spacing: 1.465px;
  border-bottom: 2px solid #b08d57;
  width: fit-content;
}

.form-image-container p {
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgba(224, 224, 224, 0.6);
  margin-bottom: 50px;
}

.form-images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #b08d57;
  column-gap: 1px;
  border: 1px solid #b08d57;
  border-radius: 34px;
}

.form-Images-cutom {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.details-image-1,
.details-image-2,
.details-image-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.details-image-1 {
  width: 570px;
  height: 365px;
  border-radius: 34px 0 0 34px;
}

.details-image-2 {
  width: 410px;
  height: 182px;
}

.details-image-3 {
  width: 451px;
  height: 365px;
  border-radius: 0 34px 34px 0;
}

#image1,
#image2,
#image3,
#image4 {
  opacity: 0;
  position: absolute;
}

.preview-image {
  object-fit: cover;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.form-image-container form button {
  width: 378px;
  padding: 13.5px;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  display: flex;
  cursor: pointer;
  color: #fff;
  font-size: 18.92px;
  background-color: #b08d57;
  border: none;
  transition: background-color 0.5s ease;
}

.form-image-container form button:hover {
  background-color: #1a1f2e;
}
