@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Explore';
  src: url('../public/fonts/Explore.ttf');
}

@font-face {
  font-family: 'Mogella';
  src: url('../public/fonts/Mogella.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../public/fonts/ProximaNova.ttf');
}

body {
  font-family: 'Mogella';
  color: #e0e0e0;
}
