@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Explore';
  src: url('/fonts/Explore.ttf');
}

@font-face {
  font-family: 'Mogella';
  src: url('/fonts/Mogella.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova.ttf');
}

@font-face {
  font-family: 'Merryweather';
  src: url('/fonts/Merriweather');
}

body {
  font-family: 'Mogella';
  color: #e0e0e0;
  letter-spacing: 1.422px;
}

::-webkit-scrollbar {
  width: 7.5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
